.menu {
    background-color: #333;
    color: #fff;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .submenu {
    display: inline-block;
    position: absolute;
    background-color: #333;
    cursor: pointer;

  }
  
  .submenu li {
    display: block;
    display: inline-block;
    position: absolute;
    background-color: #333;
    cursor: pointer;
    
  }
  
  .menu li:hover .submenu {
    display: block;
    display: inline-block;
    position: absolute;
    background-color: #333;
    cursor: pointer;
    
  }
  